<app-header>
    <span class="header-span" content>:: Lista wszystkich kontaktów ::</span>
</app-header>

<table *ngIf="contacts.length > 0; else noContactsAlert" class="table table-striped table-hover">

    <thead>
        <tr>
            <th>Lp</th>
            <th>Nazwisko</th>
            <th>Imię</th>
            <th>Nr telefonu</th>
            <th>Akcja</th>
        </tr>
    </thead>
    
    <tbody>
        <tr *ngFor="let contact of contacts; let i = index" [routerLink]="['/contact', contact.id]">
            <td class="align-middle">{{ i + 1 }}</td>
            <td class="align-middle">{{ contact.surname }}</td>
            <td class="align-middle">{{ contact.firstName }}</td>
            <td class="align-middle">{{ contact.phoneNumber }}</td>
            <td class="align-middle">
                <button (click)="goToContactDetails(contact, $event)" mat-mini-fab color="accent">
                    <mat-icon>edit</mat-icon>
                </button>
                <button (click)="removeContact(contact, $event)" mat-mini-fab color="warn">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </tr>
    </tbody>

</table>

<button [routerLink]="['/contact-add']" mat-fab color="primary">
    <mat-icon>add</mat-icon>
</button>

<ng-template #noContactsAlert>
    <p class="no-contacts">
        Aktualnie brak kontaktów.
    </p>
</ng-template>